---
import Stat from "@components/propiedad/Stat.astro";
import ShareButtons from "@components/extras/ShareButtons.astro";
import { PercentIcon } from "@lucide/astro";
const { propiedad } = Astro.props;
const esta = propiedad.incluye.incluye
  ? propiedad.incluye.incluye.includes("Estacionamiento")
  : false;
---

<div class="card card-xl shadow-sm bg-white mt-2 md:mb-2">
  <div class="card-body">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="col-span-2">
        <h4 class="subtitle">
          {propiedad.categoriaGraphql.categoria} en {
            propiedad.operacion.operacion
          }
        </h4>
        <div class="md:pb-4 md:pt-2">
          <h1 class="card-title text-3xl">{propiedad.title}</h1>
          <span class="text-gray-500">{propiedad.direccion.ciudad}</span>
        </div>

        <div class="card-actions">
          {
            propiedad.datos && (
              <Stat datos={propiedad.datos} estacionamiento={esta} />
            )
          }
        </div>
      </div>
      <div class="col-span-1">
        <div class="grid grid-cols-1 gap-2">
          <div
            class="bg-red-700 text-white text-2xl font-bold p-4 rounded-lg text-center"
          >
            {
              propiedad.precio.precio
                ? `$${propiedad.precio.precio} CLP`
                : propiedad.precio.precioUf + " UF"
            }
          </div>
          <div class="flex items-center justify-end gap-2">
            <span class="text-lg">Compartir</span>
            <ShareButtons
              url={`https://marsolpropiedades.cl/propiedades/${propiedad.slug}`}
              title={propiedad.title}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
