---
const { imagen, ciudad, direccion, slug } = Astro.props;
---

<li class="hover:bg-gray-700">
  <a href={`/propiedades/${slug}`} class="list-row p-2">
    <div>
      <img class="w-16 h-10 rounded-sm" src={imagen} alt={direccion} />
    </div>
    <div>
      <div class="lista-propiedad">{direccion}</div>
      <div class="text-xs uppercase text-gray-400">{ciudad}</div>
    </div>
  </a>
</li>

<style>
  li:hover {
    .lista-propiedad {
      color: ghostwhite;
    }
  }
</style>
