---
import Layout from "@layouts/Layout.astro";
import ContainerInterno from "@layouts/ContainerInterno.astro";
import Cabecera from "@components/extras/Cabecera.astro";
import Nosotros from "@components/inicio/Nosotros.astro";

const seo: Seo = {
  title: "Nosotros MarSol Propiedades | Compra Venta Arriendo Inmobiliario",
  description:
    "Dedicados al rubro inmobiliario, compra, venta, arriendo y/o administración de propiedades. Profesionales en el área administrativa, comercial y jurídica.",
  url: "https://marsolpropiedades.cl",
  image: "https://marsolpropiedades.cl/logos/logo-completo.jpg",
  keywords: ["propiedades", "arriendo", "venta", "compra", "marsolpropiedades"],
};

const vistas = [
  {
    name: "Visión",
    text: "Ser una empresa líder y prestigiosa, reconocida a nivel nacional en el mercado inmobiliario.",
    id: 1,
  },
  {
    name: "Misión",
    text: "Escuchar las necesidades y requerimientos de nuestros clientes, entregando un servicio integral y personalizado, asesorándolos de manera cercana, eficaz y confiable tanto en la compra, venta, arriendo y/o administración de las propiedades. Acompañándolos en este proceso de principio a fin, ofreciendo un servicio de calidad y excelencia.",
    id: 2,
  },
  {
    name: "Valores",
    text: "<ul><li>Honestidad y transparencia: Siempre tendrás el servicio ofrecido.</li><li>Servicio y orientación al cliente: Nunca estarás solo.</li><li>Ética profesional: Precios justos, sana competencia.</li><li>Empatía, Respeto y Cercanía: Relación amigable con el cliente.</li></ul>",
    id: 3,
  },
];
---

<Layout dataPag={seo}>
  <ContainerInterno>
    <Cabecera title="Nuestro Equipo" pagina="nosotros" />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-8">
      <div class="col-span-1">
        <h2 class="text-2xl mb-4">MARSOL PROPIEDADES</h2>
        <p class="phrase">
          Es una empresa dedicada al rubro inmobiliario, destaca por su
          profesionalismo y excelente servicio de calidad, integral y
          personalizado, interpretando lo que buscan sus clientes tanto en la
          compra, venta, arriendo y/o administración de propiedades. El equipo
          de trabajo está formado por profesionales altamente calificados en el
          área administrativa, comercial y jurídica. Sus personalidades
          espontáneas, carismáticas, alegres, responsables y sobre todo
          confiables, hacen que tengan una relación respetuosa, cercana y
          amigable con los clientes.
        </p>
      </div>
      <div class="col-span-1">
        <div class="grid grid-cols-1 gap-4">
          {
            vistas.map((vs) => (
              <div class="col-span-1 md:flex md:justify-end">
                <button
                  class="btn text-gray-500 border-1 border-gray-700 w-full md:w-96 btn-xl"
                  onclick={`document.getElementById("modal_${vs.id}").showModal()`}
                >
                  <div class="card-body items-center text-center">
                    <h2 class="card-title text-2xl text-gray-700">{vs.name}</h2>
                  </div>
                </button>
                <dialog id={`modal_${vs.id}`} class="modal">
                  <div class="modal-box">
                    <h3 class="text-lg font-bold mb-2">{vs.name}</h3>
                    <p set:html={vs.text} />
                  </div>
                </dialog>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <Nosotros />
  </ContainerInterno>
</Layout>

<script>
  const dialog = document.getElementById(`modal_1`);
  const dialog2 = document.getElementById(`modal_2`);
  const dialog3 = document.getElementById(`modal_3`);
  dialog.addEventListener("click", function () {
    dialog.close();
  });
  dialog2.addEventListener("click", function () {
    dialog2.close();
  });
  dialog3.addEventListener("click", function () {
    dialog3.close();
  });
</script>
