---
import {
  MapPin,
  BedDouble,
  Bath,
  RulerDimensionLine,
  Car,
} from "@lucide/astro";
const {
  ciudad,
  slug,
  direccion,
  precio,
  precioUf,
  tipo,
  operacion,
  datos,
  estacionamiento,
  bodega,
} = Astro.props;
---

<a href={`/propiedades/${slug}`}>
  <div
    class="card bg-base-100 shadow-lg col-span-1 hover:shadow-xl transition-shadow duration-300 rounded-md"
  >
    <figure class="relative">
      <img
        src={`https://marsolpropiedades.cl/images/propiedades/${slug}/mini.webp`}
        alt={direccion}
        class="w-full object-cover h-[250px] hover:scale-110 transition-all duration-300"
      />
      <div
        class="card-body bg-gradient-to-t from-black/80 to-transparent absolute bottom-0 w-full p-4"
      >
        <div class="badge border-none text-white bg-red-700 px-2 w-fit">
          {precio && `$${precio} CLP`}
          {precioUf && `${precioUf} UF`}
        </div>
      </div>
    </figure>
    <div class="bg-zinc-800 px-2 py-1">{tipo} en {operacion}</div>
    <div class="card-body p-0">
      <ul class="list">
        <li class="list-row flex flex-col gap-1 h-20">
          <header class="overflow-hidden text-ellipsis">
            <h2 class="card-title">{direccion}</h2>
          </header>
          <div class="flex justify-center items-center gap-1">
            <MapPin color="red" size="18" />
            <p>{ciudad}</p>
          </div>
        </li>
        <li class="list-row p-2">
          <div class="grid gap-1">
            {
              datos.areaTotal && (
                <div
                  class="tooltip"
                  data-tip={`Área Total: ${datos.areaTotal} m²`}
                >
                  <span class="flex items-center badge bg-red-400 hover:bg-red-700 border-none text-white text-xs rounded-sm">
                    {datos.areaTotal} m²
                  </span>
                </div>
              )
            }
            {
              datos.banos && (
                <div
                  class="tooltip"
                  data-tip={datos.banos > 1 ? `${datos.banos} Baños` : "1 Baño"}
                >
                  <span class="flex items-center badge bg-red-400 hover:bg-red-700 border-none text-white text-xs rounded-sm">
                    {datos.banos} <Bath size="16" color="white" />
                  </span>
                </div>
              )
            }
            {
              datos.habitaciones && (
                <div
                  class="tooltip"
                  data-tip={
                    datos.habitaciones > 1
                      ? `${datos.habitaciones} Dormitorios`
                      : "1 Dormitorio"
                  }
                >
                  <span class="flex items-center badge bg-red-400 hover:bg-red-700 border-none text-white text-xs rounded-sm">
                    {datos.habitaciones} <BedDouble size="16" color="white" />
                  </span>
                </div>
              )
            }
            {
              estacionamiento && (
                <div class="tooltip" data-tip="Estacionamiento">
                  <span class="badge bg-red-400 hover:bg-red-700 border-none text-white text-xs rounded-sm">
                    <Car size="16" color="white" />
                  </span>
                </div>
              )
            }
            {
              bodega && (
                <div class="tooltip" data-tip="Bodega">
                  <span class="badge bg-red-400 hover:bg-red-700 border-none text-white text-xs rounded-sm">
                    Bod
                  </span>
                </div>
              )
            }
          </div>
        </li>
      </ul>
    </div>
  </div>
</a>
