---
import Container from "@layouts/Container.astro";
import ContainerInterno from "@layouts/ContainerInterno.astro";
import { destacadas } from "@lib/propiedades";
import Card from "@components/inicio/Card.astro";
---

<div class="pb-20">
  <Container>
    <ContainerInterno>
      <div class="navbar w-full py-10">
        <div class="navbar-start">
          <h2 class="text-xl md:text-3xl text-white">Propiedades Destacadas</h2>
        </div>
        <div class="navbar-end">
          <a href="/propiedades" class="link">Ver Todas</a>
        </div>
      </div>
      <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-4">
        {
          destacadas.map((propiedad) => (
            <Card
              ciudad={propiedad.direccion.ciudad}
              slug={propiedad.slug}
              key={propiedad.slug}
              direccion={propiedad.direccion.direccion}
              precio={propiedad.precio.precio}
              precioUf={propiedad.precio.precioUf}
              tipo={propiedad.categoriaGraphql.categoria}
              operacion={propiedad.operacion.operacion}
              datos={propiedad.datos}
              estacionamiento={propiedad.incluye.incluye.includes(
                "Estacionamiento"
              )}
              bodega={propiedad.incluye.incluye.includes("Bodega")}
            />
          ))
        }
      </div>
    </ContainerInterno>
  </Container>
</div>
